In [11]:
import pandas as pd

In [13]:
d = {'Area': ['Hooi', 'Crooswijk'], 'Rating': [3, 2], 'Accessability' : [True, True], 'Quantity' : [True, True], 'Location' : [True, True], 'Condition' : [True, True] }

In [14]:
d

{'Accessability': [True, True],
 'Area': ['Hooi', 'Crooswijk'],
 'Condition': [True, True],
 'Location': [True, True],
 'Quantity': [True, True],
 'Rating': [3, 2]}

In [15]:
df = pd.DataFrame(data=d)

In [16]:
df

   Accessability       Area  Condition  Location  Quantity  Rating
0           True       Hooi       True      True      True       3
1           True  Crooswijk       True      True      True       2

In [17]:
df

   Accessability       Area  Condition  Location  Quantity  Rating
0           True       Hooi       True      True      True       3
1           True  Crooswijk       True      True      True       2

In [8]:
df.to_csv("data_mun.csv")

In [18]:
data = pd.read_csv("mun.csv", index_col = 0)

In [19]:
data

   Accessability       Area  Condition  Location  Quantity  Rating
0           True       Hooi       True      True      True       3
1           True  Crooswijk       True      True      True       2